@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}
body {
  font-size: 2em;
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-weight: 100;
}

a {
  color: rgb(133, 150, 212);
}
a:hover {
  color: rgb(175, 188, 235);
}
.nav a {
  color: rgb(255, 255, 255);
}

/* Hide the default scroll bar */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Adjust the color as needed */
}

/* For WebKit (Chrome, Safari) browsers */
body::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Adjust the color as needed */
}

.layout {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  height: 100%;
  display: absolute;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.nav {
  padding: 1em;
  gap: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame {
  /* background-color: rgba(48, 123, 99, 0.264); */
  background-color: rgba(37, 37, 54, 0.245);
  margin: 0 auto; /* Center the element horizontally */
  width: 100%; /* Occupy the full width of the viewport */
  padding: 10px;
  padding-bottom: 55px;
  border-radius: 10px;
}
