#History {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1080px) {
  #History {
    min-width: 1000px;
    max-width: 1400px;
  }
}

#History .frame {
  /* background-color: rgba(48, 123, 99, 0.264); */
  background-color: rgba(37, 37, 54, 0.245);
  margin: 0 auto; /* Center the element horizontally */
  width: 100%; /* Occupy the full width of the viewport */
  padding: 10px;
  padding-bottom: 55px;
  border-radius: 10px;
}