#About .frame {
  /* background-color: rgba(15, 15, 174, 0.245); */
  margin: 0 auto;
  min-width: 400px;
  max-width: 700px;
  padding-bottom: 36px;
  padding: 10px;
  border-radius: 10px;
  padding-bottom: 24px;
  padding-top: 48px;
}

#About .header {
  /* background-color: darkblue; */
  display: flex;
  justify-content: space-evenly;
}

#About .header-left {
  padding-top: 14px;
  width: 260px;
}

#About .header-left-title {
  font-weight: 300;
  font-size: xx-large;
}
#About .header-left-info {
  font-weight: 300;
  font-size: large;
  padding-top: 6px;
  padding-left: 12px;
}

#About .header-right,
#About .image-container {
  /* background-color: darkblue; */
  position: relative;
  width: 150px;
  margin-bottom: 14px;
}

#About .summary {
  min-width: 300px;
  max-width: 700px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 21px;
  padding-bottom: 14px;
}

#About .skills {
  min-width: 400px;
  max-width: 600px;
  margin: auto;
  text-align: center;
  display: flex;
}
#About .department {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 140px;
  font-weight: 400;
  padding-top: 78px;
  padding-bottom: 25px;
  padding-right: 15px;
}

#About .skills-content {
  display: flex;
  flex-direction: column;
}

#About .skills-content-title {
  font-weight: 400;
  margin-top: 14px;
  margin-bottom: 14px;
  height: 50%;
}

#About .skills ul {
  list-style: none; /* Remove default list bullet points */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#About .skills li {
  flex-basis: content;
  margin: 8px; /* Adjust margin for spacing between items */
}
