#About {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1080px) {
  #About {
    min-width: 1000px;
    max-width: 1400px;
  }
}

/* #About .frame { */
  /* background-color: rgba(15, 15, 174, 0.245); */
  /* margin: 0 auto;
  min-width: 400px;
  max-width: 900px;
  padding-bottom: 36px;
  padding: 10px;
  border-radius: 10px;
} */

#About .header {
  /* background-color: darkblue; */
  display: flex;
  justify-content: space-evenly;
}

#About .header-left {
  /* background-color: rgb(52, 52, 67); */
  /* width: 500px; */
}

#About .header-left-title {
  text-align: center;
  padding-top: 44px;
  padding-bottom: 22px;
  font-weight: 499;
}

/* #About .header-left-info {} */

#About .header-right,
#About .image-container {
  /* background-color: darkblue; */
  position: relative;
  width: 200px;
}

#About .image {
}

#About .summary {
  min-width: 300px;
  max-width: 700px;
  margin: auto;
  padding-left: 52px;
  padding-right: 52px;
  padding-top: 21px;
}

#About .skills-title {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 400;
}

#About .skills {
  min-width: 400px;
  max-width: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap; /* Add this to enable wrapping */
  justify-content: center; /* Add this to evenly distribute skills */
}

#About .skills ul {
  list-style: none; /* Remove default list bullet points */
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#About .skills li {
  flex-basis: calc(
    33.33% - 20px
  ); /* Adjust the width as needed, accounting for margins */
  margin: 10px; /* Add some margin between skills */
}
