#Contact .frame {
  background-color: rgba(37, 37, 54, 0.245);
  margin: 0 auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  max-width: 700px;
}

#Contact form {
  margin: 0 auto;
  width: 75%;
  height: 100%;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 64px;
}

label {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 20px;
}

input,
textarea {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px;
  background-color: rgba(41, 41, 41, 0.501);
}

textarea {
  height: 8em; /* Set the height to 3em or adjust as needed */
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
}

#Contact .button {
  padding: 50px;
}

#Contact .contact-card {
  /* background-color: rgba(95, 158, 160, 0.346); */
  margin-left: auto;

  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-bottom: 60px; */
}
#Contact .contact-card-header {
  /* background-color: rgba(160, 134, 95, 0.346); */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #Contact .contact-card-image-frame {} */
/* #Contact .contact-card-image {} */
#Contact .contact-card-header-info {
  /* background-color: rgba(105, 160, 95, 0.346); */
  width: 75%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#Contact .contact-card-header-info-name {
  /* background-color: rgba(160, 95, 95, 0.346); */
  font-size: 22pt;
}
#Contact .contact-card-header-info-title {
  /* background-color: rgba(160, 158, 95, 0.346); */
  font-size: 16pt;
}
#Contact .contact-card-footer {
  /* background-color: rgba(160, 158, 95, 0.346); */
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30pt;
}
