
#Experience .job {
  /* background-color: rgba(48, 123, 99, 0.264); */
  padding-left: 62px;
  padding-right: 62px;
}

#Experience .header-title {
  /* background-color: rgba(64, 94, 66, 0.41); */
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  font-weight: 400;
  font-size: 18pt;
}
#Experience .header-images {
  /* background-color: rgba(102, 102, 102, 0.213); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}
#Experience .header-image-container {
  /* background-color: rgba(132, 20, 20, 0.213); */
  width: 50%;
  display: flex;
  justify-content: center;
}

#Experience .header-image {
  height: auto; /* Maintain the aspect ratio */
}

#Experience .footer {
  /* background-color: rgba(102, 102, 102, 0.213); */
  padding-top: 1em;
  padding-bottom: 35px;
}
#Experience .footer-summary {
  padding-top: 14px;
  padding-bottom: 14px;
}

#Experience .footer-title {
  text-align: center;
  font-weight: 400;
  font-size: 16pt;
}
#Experience .footer-duration {
  text-align: center;
  font-size: 14pt;
}
/* #Experience .footer-summary {} */

#Experience .footer-bullet {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4em;
  padding-right: 4em;
}
