#homepage {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobile-homepage {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobile-homepage .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
#mobile-homepage .nav {
  padding: 1em;
  gap: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
