
#Projects .frame {
  min-width: 400px;
  max-width: 800px;
  margin: auto;
  padding-bottom: 36px;
}

#Projects .project {
  /* background-color: rgba(48, 48, 123, 0.264); */
  min-width: 400px;
  max-width: 700px;
  margin: auto;
  padding-bottom: 36px;
}

#Projects .header {
  /* background-color: rgba(123, 104, 48, 0.354); */
  margin: auto;
  display: flex;
  justify-content: space-around;
}

#Projects .header-left {
  /* background-color: rgba(48, 123, 112, 0.354); */
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

#Projects .header-title {
  /* background-color: rgba(48, 48, 123, 0.264); */
  text-align: center;
  font-weight: normal;
  
}
#Projects .header-release {
  /* background-color: rgba(48, 123, 52, 0.264); */
  text-align: center;
}

#Projects .header-tech {
  /* background-color: rgba(123, 80, 48, 0.264); */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#Projects .icon {
  /* background-color: cadetblue; */
  min-width: 35px; /* Set the width to 100% to make it responsive */
  max-width: 50px;
  padding: 5px;
}

#Projects .header-image {
  width: 450px;
}
#Projects .summary {
  min-width: 300px;
  max-width: 700px;
  margin: auto;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 21px;
}
