@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0, 0;
  --background: 214, 219, 220;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: 255, 255, 255;
    --background: 0, 0, 0;
  }
}
body {
  font-size: 2em;
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-weight: 100;
}

a {
  color: rgb(133, 150, 212);
}
a:hover {
  color: rgb(175, 188, 235);
}
.nav a {
  color: rgb(255, 255, 255);
}

#homepage {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobile-homepage {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mobile-homepage .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}
#mobile-homepage .nav {
  padding: 1em;
  gap: 1em;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Hide the default scroll bar */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Adjust the color as needed */
}

/* For WebKit (Chrome, Safari) browsers */
body::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
}

body::-webkit-scrollbar-thumb {
  background-color: transparent; /* Adjust the color as needed */
}

.layout {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  height: 100%;
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}
.nav {
  padding: 1em;
  gap: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Projects {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1080px) {
  #Projects {
    min-width: 1000px;
    max-width: 1400px;
  }
}


#Projects .frame {
  /* background-color: rgba(48, 123, 99, 0.264); */
  background-color: rgba(37, 37, 54, 0.245);
  margin: 0 auto; /* Center the element horizontally */
  width: 100%; /* Occupy the full width of the viewport */
  padding: 10px;
  padding-bottom: 55px;
  border-radius: 10px;
}

#Projects .project {
  /* background-color: rgba(48, 48, 123, 0.264); */
  padding-top: 55px;
  padding-bottom: 55px;
}

#Projects .project-header {
  /* background-color: rgba(123, 104, 48, 0.354); */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
}
#Projects .project-header-info {
  /* background-color: rgba(82, 48, 123, 0.264); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  gap: 1em;
}
#Projects .project-header-info-upper {
  /* background-color: rgba(123, 82, 48, 0.264); */
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  gap: 0.4em;
  padding-bottom: 20px;
}
#Projects .project-header-info-title {
  /* background-color: rgba(123, 48, 50, 0.264); */
  font-size: 1.2em;
}
@media screen and (max-width: 1080px) {
  #Projects .project-header-info-title {
    /* background-color: rgba(123, 48, 50, 0.264); */
    font-size: 1em;
  }
}
#Projects .project-header-info-date {
  /* background-color: rgba(48, 123, 89, 0.264); */
  font-size: 0.8em;
}
#Projects .project-header-info-tech {
  /* background-color: rgba(123, 114, 48, 0.264); */
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;
}
#Projects .project-header-info-links {
  /* background-color: rgba(123, 114, 48, 0.264); */
  display: flex;
  width: 300px;
  font-size: 18pt;
}
#Projects .project-header-info-link {
  /* background-color: rgba(123, 48, 105, 0.264); */
  width: 50%;
  text-align: center;
}

#Projects .project-header-photo-frame {
  /* background-color: rgba(48, 85, 123, 0.264); */
  margin: 12px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#Projects .project-header-photo {
  /* background-color: rgba(48, 123, 99, 0.264); */
  border-radius: 12px;
  min-width: 400px;
}

#Projects .project-summary {
  font-size: 20pt;
  margin-top: 40px;
  margin-left: 4em;
  margin-right: 4em;
}
